bitarray
bitstring
blinker
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
docker
ecdsa
esptool
Flask
fonttools
idna
intelhex
itsdangerous
Jinja2
joblib
kiwisolver
m2cgen
MarkupSafe
matplotlib
numpy
packaging
pandas
pillow
pycparser
pyparsing
pyserial
python-dateutil
pytz
PyYAML
reedsolo
requests
scikit-learn
scipy
setuptools
six
threadpoolctl
tzdata
urllib3
Werkzeug
